h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.post-content {
  font-size: 1em;
  line-height: 1.7;
  color: #444;
  padding-top: 27px;
}
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #ba3925;
}
.page-content {
  padding-top: 40px;
}
.post-content h3,
.post-content h2 {
  margin: 1.4em 0 1.1em;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.post-content pre {
  padding: 1em;
}
.post-content code {
  display: inline;
}
.post-content p code {
  display: inline;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.1);
  border-radius: 3px;
}
.post-content p {
  margin: 0 0 1.1em;
}
.post-content img {
  padding: 1em 0;
  margin: auto;
  display: block;
}
.post-content ul {
  overflow: auto;
  padding: 0.5em 2.4em;
  border-radius: 3px;
  margin: 1.8em 0;
}
.post-content ul li {
  text-indent: 0.5em;
}
